<!-- <p (click)="secondchild.mysecondfunction()">first-child works! {{data}}</p> -->
<div *ngIf="data=='one'">
    <div class="form-group">
        <label for="">First Child data</label>
        <input type="text" class="form-control" [(ngModel)]="first" />
        <small id="helpId" class="form-text text-muted">Please enter the text data</small>
        <button type="button" (click)="submit()" class="btn btn-primary"> Submit</button>

    </div>
</div>
<app-second-child [data]="data" #secondchild></app-second-child>
