<div *ngIf="data=='two'">
    <div class="form-group">
        <label for="">Second Child data</label>
        <input type="text" class="form-control" aria-describedby="helpId" placeholder="Second Child data" [(ngModel)]="second" />
        <small id="helpId" class="form-text text-muted">Please enter the text data</small>
        <button type="button" (click)="submit()" class="btn btn-primary"> Submit</button>

    </div>
</div>


<app-third-child [data]="data" #thirdchild [mainbodyfunction]="mainbodyfunction()"></app-third-child>
